.slide-right-left {
    width: 100%;
}

.slide-right-left {
    animation: var(--durationInSeconds) slide-right-left var(--iterationCount);
    animation-fill-mode: forwards;
}

@keyframes slide-right-left {
    0% {
        margin-left: -100%;
        margin-right: -100%;
    }

    50% {
        margin-left: 0%;
        margin-right: 0%;
    }

    100% {
        margin-left: -100%;
        margin-right: -100%;
    }
}