@using MyBlazorAnimation

@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <Animate Id="myPageAnimation" 
            Animation="@Animate.slideLeft" 
            DurationInSeconds="1" 
            IterationCount="0"
            OnAnimationTriggered="@(async () => Console.WriteLine("Animation Triggered"))"
            @ref=myAnimation>
            <article class="content px-4">
                @Body
            </article>
        </Animate>
        <br />
        <button class="btn btn-primary" @onclick="TriggerAnimationDynamicAsync">Trigger Animation</button>
    </main>
</div>
@code {
    private Animate? myAnimation;

    private async Task TriggerAnimationDynamicAsync(MouseEventArgs args)
    {
        var settings = new AnimateSettings
        {
            Animation = Animate.wobble,
            DelayInSeconds = 0,
            DurationInSeconds = 3,
            IterationCount = 1,
            OnAnimationTriggered = async () => Console.WriteLine("Animation Triggered Dynamic")
        };

        await myAnimation!.TriggerAnimationDynamicAsync(settings);
    }
}
